Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
prodDb.mv.db
docker/*.jar
apps/omar-superoverlay-app/bin
plugins/omar-superoverlay-plugin/bin
packaged-chart
*.lock
charts/*.tgz
node_modules
package.json
package-lock.json
